* {
    margin: 0;
    padding: 0;
}

html, body {
    height: calc(100% - 25px);
}

body {
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: monospace;
}

span {
    white-space: pre;
}

/**
 *  Fixed-Path-Bar
 */

.path {
    background-color: white;
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

.user {
    background-color: #00d3ff;
    color: black;
}

.user:after {
    content: "@"
}

/**
 *  Main-Window
 */

.main {
    height: auto;
}

.main ul {
    list-style-type: none;
}

.current-line {
    background-color: #202020;
    width: 100%;
}

.current-line:after {
    content: "█";
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}